$primaryColor: #fafafa;
$secondaryColor: #efefef;
$borderColor: #dbdbdb;
$tabTextColor: #8e8e8e;

@mixin buttonStyle {
  background-color: transparent;
  border: none;
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color:#fafafa;
}

.profile {
  margin-top: 100px;
  margin-bottom: 25px;

  .profile__header {
    background-color: white;
    border-bottom:1px solid #dbdbdb;
    padding:10px 20px;
    position: fixed;
    width: 100%;
    top:0;
  }

  &__logo {
    object-fit: contain;

    img {
      width: 150px;
    }
  }

  .profile__searchBar {
    input[type="text"] {
      width: 300px;
      background-color: $secondaryColor;
      border-radius: 5px;
      border: none;
    }
  }

  &__settings {
    display: flex;

    button {
      width: 52px;
      height: 52px;
      @include buttonStyle;

      svg {
        width: 28px;
        height: 28px;
      }
    }
    img {
      width: 28px;
      object-fit: contain;
      border: 1px solid black;
      border-radius: 100%;
    }
  }

  &__profile {
    margin-top: 50px;
    margin-bottom: 30px;

    &__logo {
      flex: 1;
      text-align: center;

      img {
        width: 150px;
        object-fit: contain;
        border-radius: 100%;
        border: 3px solid black;
      }
    }

    &__details {
      flex: 2;

      &__userName {
        display: flex;
        align-items: center;
        gap: 20px;

        h4 {
          font-weight: normal;
        }

        button {
          background-color: transparent;
          border: 1px solid $borderColor;
          border-radius:5px;
          padding:2px 5px;

          &:last-child {
            border: none;
          }
        }
      }

      &__follower {
        display: flex;
        gap: 20px;

        button {
          @include buttonStyle;
        }
      }
    }
  }

  &__section {
    &__tab {
      overflow: hidden;
      border-top: 1px solid $borderColor;
      display: flex;
      justify-content: center;
      margin: 0 0 10px 0;

      button {
        @include buttonStyle;
        padding: 20px 0px 0px 0px;
        margin: 0 20px;
        transition: 0.3s;
        font-size: 14px;
        color: $tabTextColor;
        display: flex;
        justify-content:center;
        align-items:center;
        text-transform: uppercase;

        svg {
          margin-right: 5px;
        }
      }

      &__tabcontent {
        display: none;

        &__container {
          max-width: 1300px;

          &__image {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            img {
              width: 30%;
              object-fit: contain;
              flex: 1;

              &:nth-child(2) {
                margin: 7px 14px;
              }
            }
          }
        }
      }
      .active {
        border-top: 2px solid #5c5c5c;
        color: #5c5c5c;
      }
    }
  }
}